@(rootFolderItems:model.BoxFolderItems)

<table border="1" class="folderMembers">
    <th>Item Type</th>
    <th>Item Name</th>
    <th class="right">ID</th>
    <th class="right">Size</th>

@for((item, index) <- rootFolderItems.items.zipWithIndex) {
    @if((index%2)==0){
        <tr class="alt">
    } else {
        <tr class="alt1">
    }
        <td>@item.itemType</td>
        <td>@item.name</td>
        <td class="right">@item.id</td>
        <td class="right">@{item.size / 1024} kB</td>
    </tr>
}

</table>


