@(context:BoxContext)
@import helper._

@form(routes.Application.processCommand) {
    <input type="text" name="command" placeholder="Enter Command" id="inputCommand">

    <button type="submit" id="commandButton" class="submit">Enter</button>
}

<br/>
<table class="status">
    <tr class="status">
        <td class="status">Logged User: @context.userName.getOrElse("Unknown User")</td>
        <td class="status">@{"/" + context.currentPath.reverse.tail.mkString("/")}</td>
        @if(!context.statusMessage.isEmpty){
            <td class="status_error">@context.statusMessage</td>
        }
    </tr>
</table>




